{% extends "base.html" %}

{% block title %}
  Sign Up page
{% endblock %}

{% block content %}
  <form method="POST">
    <h3 align="center">Sign-Up</h3>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flash-messages">
          {% for message in messages %}
            <li>
              <span class="message">{{ message }}</span>
              <span class="close" onclick="this.parentElement.style.display='none'">&times;</span>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
    </div>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
    </div>

    <div class="form-group">
      <label for="password1">Password</label>
      <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your password">
    </div>

    <div class="form-group">
      <label for="password2">Password (confirm)</label>
      <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat your password for confirmation">
    </div>

    <br>
    <button type="submit" class="my-button">Sign Up</button>
  </form>
  
  <script>
    // Add click event listeners to all close buttons
    var closeButtons = document.querySelectorAll('.flash-messages .close');
    closeButtons.forEach(function (button) {
      button.addEventListener('click', function () {
        this.parentElement.style.display = 'none';
      });
    });
  </script>
{% endblock %}
